body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(9, 9, 251);
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;

}

input,
textarea,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(9, 9, 251);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(9, 9, 251);
}